/**
 * Gravity Forms structure sass
 * Version: 0.9
 **/

// Variables
$required: #790000 !default;
$error: #790000 !default;
$confirmation: #007900 !default;

$ui-font-color: #333 !default;
$ui-border-color: #DDD !default;
$ui-background-color: #EFEFEF !default;

/* Reset */
.gform_wrapper form {
	ol,
	ul {
		margin: 0; 
		padding: 0; 
		list-style: none;
	}

	li {
		margin: 0; 
		padding: 0; 
		list-style: none;
	}
}

/* Structure */
.gform_wrapper form {

	.gform_heading {}

	.gform_body {
		margin-bottom: 10px;
	}

	.gform_footer {
		clear: both;
		text-align: center;

		img { margin-left: 10px; }

		.button {
			padding: 10px;
			min-width: 30%;
		}
	}

	.gform_fields {
		@include clearfix;
	}

	.gfield {
		clear: both;
		margin-bottom: 20px;

	    &.hide {
			display: none;
		}
	}

	.gsection {
		padding-top: 10px;
		.gsection_title {}
	}

	.gfield_label {
		display: inline-block;

		&:empty {
			display: block;
			line-height: 0;
			visibility: hidden;
		}
	}

	.gfield_description {
	}

	input[type="text"],
	input[type="password"],
	input[type="search"],	
	select,
	textarea {}

	// Input sizes
	.small { width: 23%; }
	.medium { width: 48%; }
	.large { width: 100%; }

	.textarea { width: 100%; }

	ul.gfield_radio,
	ul.gfield_checkbox {		
		li {
			&:last-child {}
		}

		label {
			padding-left: 8px;
			cursor: pointer;
		}

		input:checked + label {
			font-weight: bold;
		}
	}

	.top_label {
		.gfield_label {
			margin-bottom: 4px;
		}
	}

	.left_label {
		.gfield_label {
			width: 30%;
			margin-right: 3%;
		}

		.small { width: 20%; }
		.medium { width: 40%; }
		.large { width: 67%; }
		
		.textarea { width: 40%; }
		.textarea.large { width: 67%; }
	}

	//* Structure
    .ggroup {
    	margin-bottom: 10px;
		@include clearfix;
    	.gfield {
    		margin-bottom: 10px;
    	}
    }

	.gcolumn {
		&:first-child {
			@extend .gf_left_half;
		}
		&:last-child {
			@extend .gf_right_half;
		}

		.gf_left_half,
		.gf_right_half {
			clear: none;
			float: none;
			padding-right: 0;
			padding-left: 0;
			width: auto;
		}
	}

	.gf_left_third,
	.gf_left_half,
	.ginput_left {
		clear: left;
		float: left;
		margin-right: 2%;
	}

	.gf_right_half,
	.gf_right_third,
	.ginput_right {
		clear: right;
		float: right;
		margin-left: 2%;
	}

	.gf_middle_third {
		clear: none;
		float: left;
		margin-left: 2%;
		margin-right: 2%;
	}

	.gf_left_half,
	.ginput_left,
	.gf_right_half,
	.ginput_right {
		width: 48%;
	}

	.gf_left_third,
	.gf_middle_third,
	.gf_right_third {
		width: 30.66666%;
	}

	.gf_left_half,
	.gf_right_half,
	.gf_left_third,
	.gf_middle_third,
	.gf_right_third {
		.medium,
		.large {
			width: 100%;
		}
	}

	.gf_list_inline {
		ul.gfield_radio,
		ul.gfield_checkbox {
			li {
				display: inline-block;
				margin-right: 12px;

				&:last-child {}

				input,
				label {
					display: inline;
				}
			}
		}
	}
}

/* Sidebar */
.widget .gform_wrapper form {

	.small { width: 50%; }
	.medium { width: 100%; }
	.large { width: 100%; }

	.textarea { width: 100%; }
}

/* Gravity form specifics */
.gform_wrapper form {
	.validation_error {
		border: 1px solid $ui-border-color;
		background-color: $ui-background-color;
		color: $ui-font-color;
		font-style: italic;
		padding: 10px;
	}

	.gform_confirmation_message {
		background-color: lighten( $confirmation, 73% );
		border: 1px solid lighten( $confirmation, 60% );
		color: $confirmation;
		padding: 8px 10px;
	}

	span.gfield_required {
		color: $required;
		margin-left: 4px;
	}

	.validation_message {

	}

	.gfield_error {
		background-color: lighten( $error, 73% );
		border: 1px solid lighten( $error, 68% );
		padding: 0 5px;

		.validation_message {
			color: $error;
		}

		.gfield_label {
			color: $error;
		}
	}

	/* === hide the honeypot field === */
	.gform_validation_container {
		display: none !important;
		position: absolute !important;
		left: -9000px;
	}

	.gform_hidden {
		display: none;
	}
}

//* Responsive
@include breakpoint(tablet) {

	.gform_wrapper form {
		.medium {
			width: 100%;
		}

		.gf_left_half,
		.gf_right_half,
		.gf_left_third,
		.gf_middle_third,
		.gf_right_third {
			clear: both;
			float: none;
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}

		.ggroup {
			margin-bottom: 0;
			.gfield {
				margin-bottom: 20px;
			}
		}
	}
}