/**
 * Gravity Forms structure sass
 * Version: 0.8
 **/

// Variables
$required: #790000 !default;
$error: #790000 !default;
$confirmation: #007900 !default;

$ui-font-color: #333 !default;
$ui-border-color: #DDD !default;
$ui-background-color: #EFEFEF !default;


/* Reset */
.gform_wrapper {
	ol,
	ul,
	li {
		margin: 0; 
		padding: 0; 
		list-style: none;
	}
}

/* Structure */
.gform_wrapper {

	.gform_heading {}

	.gform_body {}

	.gform_footer {
		@include clearfix;
		img { margin-left: 0.5rem; }
	}

	.ggroup {
		@include clearfix;		

		.gsection_title {}
	}

	.gsection_title {}

	.gcolumn {
		&:first-child {
			@extend .gf_left_half;
		}
		&:last-child {
			@extend .gf_right_half;
		}

		.gf_left_half,
		.gf_right_half {
			clear: none;
			float: none;
			padding-right: 0;
			padding-left: 0;
			width: auto;
		}
	}

	.gfield {
		@include clearfix;
	}

	.gfield_label {}

	input[type="text"],
	input[type="password"],
	input[type="search"],	
	select,
	textarea {}

	// Input sizes
	.small { width: 23%; }
	.medium { width: 48%; }
	.large { width: 100%; }

	.textarea { width: 100%; }

	ul.gfield_radio,
	ul.gfield_checkbox {		
		li {
			&:last-child {}
		}

		label {}

		input:checked + label {}
	}

	.left_label {
		.gfield {
			@include clearfix;
		}

		.gfield_label {
			width: 30%;
			margin-right: 3%;
		}

		.small { width: 20%; }
		.medium { width: 40%; }
		.large { width: 67%; }
		
		.textarea { width: 40%; }
		.textarea.large { width: 67%; }
	}

	/* Halves & inlines */
	.gfield {
		clear: both;
	}
		.gf_left_half,
		.ginput_left {
			clear: left;
			float: left;
			padding-right: 2%;
			width: 50%;
		}

		.gf_right_half,
		.ginput_right {
			clear: right;
			float: right;
			padding-left: 2%;
			width: 50%;
		}

		.gf_left_half,
		.gf_right_half {
			.medium,
			.large {
				width: 100%;
			}
		}

		.gf_list_inline {
			ul.gfield_radio,
			ul.gfield_checkbox {
				li {
					display: inline-block;
					margin-right: 0.75rem;

					&:last-child {}

					input,
					label {
						display: inline;
					}
				}
			}
		}
}

/* Sidebar */
.widget .gform_wrapper {

	.small { width: 50%; }
	.medium { width: 100%; }
	.large { width: 100%; }

	.textarea { width: 100%; }
}

/* Gravity form specifics */
.gform_wrapper {
	.validation_error {
		border: 1px solid $ui-border-color;
		background-color: $ui-background-color;
		color: $ui-font-color;
		font-style: italic;
	}

	.gform_confirmation_message {
		background-color: lighten( $confirmation, 73% );
		border: 1px solid lighten( $confirmation, 60% );
		color: $confirmation;
	}

	span.gfield_required {
		color: $required;
		margin-left: 4px;
	}

	.validation_message {
		font-weight: 500;
	}

	.gfield_error {
		background-color: lighten( $error, 73% );
		border: 1px solid lighten( $error, 68% );

		.validation_message {
			color: $error;
		}

		.gfield_label {
			color: $error;
		}
	}

	/* === hide the honeypot field === */
	.gform_validation_container {
		display: none !important;
		position: absolute !important;
		left: -9000px;
	}

	.gform_hidden {
		display: none;
	}
}